@font-face {
	font-family: "Book Antiqua";
	src: url("./assets/fonts/book-antiqua/bookantiqua.ttf")
}

@font-face {
	font-family: "Book Antiqua";
	src: url("./assets/fonts/book-antiqua/bookantiqua.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Book Antiqua";
	src: url("./assets/fonts/book-antiqua/bookantiqua_bold.ttf");
	font-weight: 400;
	font-style: bold;
}

@font-face {
	font-family: "Book Antiqua";
	src: url("./assets/fonts/book-antiqua/bookantiqua.ttf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Book Antiqua";
	src: url("./assets/fonts/book-antiqua/bookantiqua_bold.ttf");
	font-weight: 700;
	font-style: bold;
}